.product {
    border-bottom: 1px dashed #c2c2c2;
    margin-bottom: 10px;
    padding: 10px 0;
}

.cart-item {
    border-bottom: 1px dashed #c2c2c2;
    padding-bottom: 5px;
    margin-bottom: 5px;
}